<div ng-show='isLoading'>
Loading  {{loading}} / {{maxLoading}}
<progressbar value='loading' max='15'> </progressbar>
</div>


  <label>Select Similarity Metric:
    <select ng-model="simMetric" ng-options="s as s.name for s in simMetrics">
    </select>
  </label> </br>

    <label>Select Clustering Method:
    <select ng-model="algorithm" ng-options="a as a.name for a in algorithms">
    </select>
  </label>

  <button ng-click="loadData()" >
  Get Data
</button>

<br>


Similarity Metric {{simMetric.detail}}

<br>

clustering algorithm {{algorithm.detail}}

<h3>Summary Matrix</h3>

<div summarymatrix class="overview" similarity="summaryMatrix" orderlist="summaryOrderList" selectednames="selectedGroups" myorder='summaryOrder' selectedrange='summaryRange' ></div>


<h3>Selected Matrix</h3>



<div similaritymatrix class="overview" similarity="simMatrix" orderlist="orderList" selectednames="selectedNames" myorder='myorder'></div>
<!-- 

    <nvd3-line-with-focus-chart
            data="exampleData"
            id="exampleId"
            height="500"
            height2="100"
            width="600"
            margin="{left:80,top:50,bottom:30,right:50}"
            showLegend="true"
            interactive='true'
            tooltips='true'
            >
         <svg></svg>
    </nvd3-line-with-focus-chart> -->

 <nvd3 options='lineOptions' data='lineData'></nvd3>